html, body, #app, #app>div, .file-drop-target, .map-view{
  height: 100%;
}

.file-drop{
  height: 100%;
}

body {
  background-color: #fefefe;
  text-align: center;
}

.ol-layers{
  width: auto !important;
}
